h1{
    color: blue;
    font-style: italic;
    text-align: center;
}
p{
    background-color: blueviolet;
    color: black;
    height: 400px;
    width: 300px;
}
img{
    border: 2px solid red;
    border-radius: 20px;
    height: 300px;
    width: 260px;
    margin: 10px;
}
body{
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
}
.cat{
    display: flex;
    margin-left: 25%;
    padding-top: 10%;
}
.cat p{
   border: 6px solid green;
   line-height: 4;
   width: 300px;
   background-color: gray;
   color: #fff;
}